.Grid--container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.Grid--row {
  position: relative;
  width: 100%;
}

.Grid--row [class*="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.Grid--col-1,
.Grid--col-2,
.Grid--col-3,
.Grid--col-4,
.Grid--col-5,
.Grid--col-6,
.Grid--col-7,
.Grid--col-8,
.Grid--col-9,
.Grid--col-10,
.Grid--col-11,
.Grid--col-12 {
  width: 96%;
}

.Grid--col-1-sm {
  width: 4.33%;
}

.Grid--col-2-sm {
  width: 12.66%;
}

.Grid--col-3-sm {
  width: 21%;
}

.Grid--col-4-sm {
  width: 29.33%;
}

.Grid--col-5-sm {
  width: 37.66%;
}

.Grid--col-6-sm {
  width: 46%;
}

.Grid--col-7-sm {
  width: 54.33%;
}

.Grid--col-8-sm {
  width: 62.66%;
}

.Grid--col-9-sm {
  width: 71%;
}

.Grid--col-10-sm {
  width: 79.33%;
}

.Grid--col-11-sm {
  width: 87.66%;
}

.Grid--col-12-sm {
  width: 96%;
}

.Grid--row::after {
	content: "";
	display: table;
	clear: both;
}

.Grid--hidden-sm {
  display: none;
}

@media (--viewport-tablet) { 
  .Grid--col-1 {
    width: 4.33%;
  }

  .Grid--col-2 {
    width: 12.66%;
  }

  .Grid--col-3 {
    width: 21%;
  }

  .Grid--col-4 {
    width: 29.33%;
  }

  .Grid--col-5 {
    width: 37.66%;
  }

  .Grid--col-6 {
    width: 46%;
  }

  .Grid--col-7 {
    width: 54.33%;
  }

  .Grid--col-8 {
    width: 62.66%;
  }

  .Grid--col-9 {
    width: 71%;
  }

  .Grid--col-10 {
    width: 79.33%;
  }

  .Grid--col-11 {
    width: 87.66%;
  }

  .Grid--col-12 {
    width: 96%;
  }

  .Grid--hidden-sm {
    display: block;
  }

}
