.Button {
}

.Button--default {
    background-color: var(--button-default);
}

.Button--primary {
    background-color: var(--button-primary);
}

.Button--secondary {
    background-color: var(--button-secondary);
}

.Button--alert {
    background-color: var(--button-alert);
}
